.card-custom {
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(2, 2, 2, 0.84);
    transition: transform 0.3s ease-in-out;
}

.card-custom:hover {
    transform: translateY(-5px);
}

.btn:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.alert {
    font-weight: 500;
}
