.login-page {
    background: linear-gradient(to bottom, #9FCBAF, #2E8B57) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.64) !important;
    border-radius: 16px; !important;
    padding: 40px; !important;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2) !important;
    max-width: 400px; !important;
    width: 100%; !important;
    text-align: center; !important;
}

.logo-image {
    max-width: 150px;
    height: auto;
}

.logo-container {
    margin-bottom: 20px;
}

.logo-image {
    max-width: 150px;
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #40747c;
    color: #f3f3f3;
    padding: 20px;
    font-size: 0.9rem;
    text-align: center;
    margin-top: auto;
}
